<?xml version="1.0" ?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- ===================================================== -->
    <!-- ARGUMENTOS -->
    <!-- ===================================================== -->

    <xacro:arg
        name="controllers_file"
        default="$(find my_robot_description)/config/controllers.yaml"/>

    <!-- ===================================================== -->
    <!-- INCLUDES -->
    <!-- ===================================================== -->

    <xacro:include filename="./macro.xacro"/>
    <xacro:include filename="./parameter.xacro"/>
    <xacro:include filename="./ros2_control.xacro"/>
    <xacro:include filename="./gazebo.xacro"/>

    <!-- Robot links -->
    <link name="base_footprint"/>

    <!-- link Base -->
    <xacro:create_link
        name="base_link"
        name_link="base_link"
        name_color="${name_color_base}"
        rgba="${rgba_base}"
        xyz="0 0 0"
        rpy="1.5708 0 0"
        name_folder="robot_body"
        mass="${mass_base}"
    />

    <!-- Engine -->
    <xacro:create_link
        name="12V_DC_motor"
        name_link="engine_1_link"
        name_color="${name_color_engine}"
        rgba="${rgba_engine}"
        xyz="0.240 -0.091 0.023"
        rpy="0 0 3.14159"
        name_folder="electronics"
        mass="${mass_12V_DC_motor}"
    />
    <xacro:create_link
        name="12V_DC_motor"
        name_link="engine_2_link"
        name_color="${name_color_engine}"
        rgba="${rgba_engine}"
        xyz="-0.240 -0.091 0.023"
        rpy="0 0 3.14159"
        name_folder="electronics"
        mass="${mass_12V_DC_motor}"
    />
    <xacro:create_link
        name="12V_DC_motor"
        name_link="engine_3_link"
        name_color="${name_color_engine}"
        rgba="${rgba_engine}"
        xyz="0.240 0.091 0.023"
        rpy="0 0 0"
        name_folder="electronics"
        mass="${mass_12V_DC_motor}"
    />
    <xacro:create_link
        name="12V_DC_motor"
        name_link="engine_4_link"
        name_color="${name_color_engine}"
        rgba="${rgba_engine}"
        xyz="-0.240 0.091 0.023"
        rpy="0 0 0"
        name_folder="electronics"
        mass="${mass_12V_DC_motor}"
    />

    <!-- Electronics -->
    <xacro:create_link
        name="pantalla_10"
        name_link="pantalla_link"
        name_color="${name_color_screen}"
        rgba="${rgba_screen}"
        xyz="-0.298 0 1.088"
        rpy="0 1.5708 1.5708"
        name_folder="electronics"
        mass="${mass_pantalla_10}"
    />
    <xacro:create_link
        name="altavoz_3_w"
        name_link="altavoz_3_link"
        name_color="${name_color_altavoz}"
        rgba="${rgba_altavoz}"
        xyz="-0.205 0.265 1.26"
        rpy="0 0 3.14159"
        name_folder="electronics"
        mass="${mass_altavoz_3}"
    />
    <xacro:create_link
        name="altavoz_3_w"
        name_link="altavoz_3_2_link"
        name_color="${name_color_altavoz}"
        rgba="${rgba_altavoz}"
        xyz="-0.205 -0.265 1.26"
        rpy="0 0 0"
        name_folder="electronics"
        mass="${mass_altavoz_3}"
    />
    <xacro:create_link
        name="elp_1080p_modulo"
        name_link="elp_1080p_link"
        name_color="${name_color_electronics}"
        rgba="${rgba_electronics}"
        xyz="-0.285 0 1.235"
        rpy="0 0 1.5708"
        name_folder="electronics"
        mass="${mass_elp_1080p_modulo}"
    />
    <xacro:create_link
        name="matriz_de_microfono_resaker_12v"
        name_link="matriz_de_microfono_resaker_12v_link"
        name_color="${name_color_electronics}"
        rgba="${rgba_electronics}"
        xyz="-0.21 0.202 1.212"
        rpy="1.5708 0 0"
        name_folder="electronics"
        mass="${mass_matriz_de_microfono_resaker_12v}"
    />
    <xacro:create_link
        name="matriz_de_microfono_resaker_12v"
        name_link="matriz_de_microfono_resaker_12v_1_link"
        name_color="${name_color_electronics}"
        rgba="${rgba_electronics}"
        xyz="-0.21 -0.202 1.212"
        rpy="1.5708 0 0"
        name_folder="electronics"
        mass="${mass_matriz_de_microfono_resaker_12v}"
    />
    <link name="sensor_lidar_link">
        <visual>
            <geometry>
                <cylinder radius="0.035" length="0.05"/>
            </geometry>
            <material name="black">
                <color rgba="0 0 0 1"/>
            </material>
        </visual>

        <collision>
            <geometry>
                <cylinder radius="0.035" length="0.05"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="0.1"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia
                ixx="0.001"
                ixy="0"
                ixz="0"
                iyy="0.001"
                iyz="0"
                izz="0.001"/>
        </inertial>
    </link>

    <link name="imu_link">
        <visual>
            <geometry>
                <box size="0.03 0.03 0.02"/>
            </geometry>
            <material name="gray">
                <color rgba="0.5 0.5 0.5 1"/>
            </material>
        </visual>

        <collision>
            <geometry>
                <box size="0.03 0.03 0.02"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="0.05"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia
                ixx="1e-5"
                ixy="0"
                ixz="0"
                iyy="1e-5"
                iyz="0"
                izz="1e-5"/>
        </inertial>
    </link>


    <!-- Wheels -->
    <xacro:create_link_wheel
        name="right_wheel"
        name_link="right_wheel_1_link"
        name_color="${name_color_wheel}"
        rgba="${rgba_wheel}"
        name_folder="robot_body"
        xyz_collition="0 0.065 0"
    />
    <xacro:create_link_wheel
        name="right_wheel"
        name_link="right_wheel_2_link"
        name_color="${name_color_wheel}"
        rgba="${rgba_wheel}"
        name_folder="robot_body"
        xyz_collition="0 0.07 0"
    />
    <xacro:create_link_wheel
        name="left_wheel"
        name_link="left_wheel_1_link"
        name_color="${name_color_wheel}"
        rgba="${rgba_wheel}"
        name_folder="robot_body"
        xyz_collition="0 0.05 0"
    />
    <xacro:create_link_wheel
        name="left_wheel"
        name_link="left_wheel_2_link"
        name_color="${name_color_wheel}"
        rgba="${rgba_wheel}"
        name_folder="robot_body"
        xyz_collition="0 0.05 0"
    />

    <!-- Body covers -->
    <xacro:create_link
        name="body"
        name_link="main_link"
        name_color="${name_color_base}"
        rgba="${rgba_base}"
        xyz="-0.211 0 0.2105"
        rpy="1.5708 0 -1.5708"
        name_folder="robot_body"
        mass="${mass_body}"
    />
    <xacro:create_link
        name="base_cap"
        name_link="base_cap_link"
        name_color="${name_color_base}"
        rgba="${rgba_base}"
        xyz="0.295 0 0.105"
        rpy="0 3.14159 1.5708"
        name_folder="robot_body"
        mass="${mass_base_cap}"
    />
    <xacro:create_link
        name="body_cover_4"
        name_link="body_cover_4_link"
        name_color="${name_color_base}"
        rgba="${rgba_base}"
        xyz="-0.13 0 0.309"
        rpy="0 3.14159 -1.5708"
        name_folder="robot_body"
        mass="${mass_body_cover_4}"
    />
    <xacro:create_link
        name="body_cover_3"
        name_link="body_cover_3_link"
        name_color="${name_color_base}"
        rgba="${rgba_base}"
        xyz="-0.13 0 0.54"
        rpy="-1.5708 -1.5708 0"
        name_folder="robot_body"
        mass="${mass_body_cover_3}"
    />
    <xacro:create_link
        name="body_cover_2"
        name_link="body_cover_2_link"
        name_color="${name_color_base}"
        rgba="${rgba_base}"
        xyz="-0.13 0 1.1"
        rpy="-1.5708 -1.5708 0"
        name_folder="robot_body"
        mass="${mass_body_cover_2}"
    />
    <xacro:create_link
        name="body_cover_1"
        name_link="body_cover_1_link"
        name_color="${name_color_base}"
        rgba="${rgba_base}"
        xyz="-0.13 0 1.258"
        rpy="0 0 -1.5708"
        name_folder="robot_body"
        mass="${mass_body_cover_1}"
    />

    <!-- Joints fijos -->
    <joint name="base_footprint_to_base_link" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <xacro:create_joint_fixed 
    name="base_link_to_base_cap"
    parent="base_link"
    child="base_cap_link"
    xyz="0 0 0"
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed
    name="base_link_to_main"
    parent="base_link"
    child="main_link"
    xyz="0 0 0"
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed
    name="base_link_to_body_cover_4"
    parent="base_link"
    child="body_cover_4_link"
    xyz="0 0 0"
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed
    name="base_link_to_body_cover_3"
    parent="base_link"
    child="body_cover_3_link"
    xyz="0 0 0"
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed
    name="base_link_to_body_cover_2"
    parent="base_link"
    child="body_cover_2_link"
    xyz="0 0 0"
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed
    name="base_link_to_body_cover_1"
    parent="base_link"
    child="body_cover_1_link"
    xyz="0 0 0"
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed
    name="base_link_to_engine_1"
    parent="base_link"
    child="engine_1_link"
    xyz="0 0 0"
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed
    name="base_link_to_engine_2"
    parent="base_link"
    child="engine_2_link"
    xyz="0 0 0"
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed 
    name="base_link_to_engine_3"
    parent="base_link"
    child="engine_3_link"
    xyz="0 0 0"
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed
    name="base_link_to_engine_4"
    parent="base_link"
    child="engine_4_link"
    xyz="0 0 0"
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed
    name="base_link_to_altavoz_3"
    parent="base_link"
    child="altavoz_3_link"
    xyz="0 0 0"
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed
    name="base_link_to_altavoz_3_2"
    parent="base_link"
    child="altavoz_3_2_link"
    xyz="0 0 0"
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed
    name="base_link_to_elp_1080p"
    parent="base_link"
    child="elp_1080p_link"
    xyz="0 0 0"
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed
    name="base_link_to_matriz_de_microfono_resaker_12v"
    parent="base_link"
    child="matriz_de_microfono_resaker_12v_link"
    xyz="0 0 0"
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed 
    name="base_link_to_matriz_de_microfono_resaker_12v_1" 
    parent="base_link" 
    child="matriz_de_microfono_resaker_12v_1_link" 
    xyz="0 0 0" 
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed
    name="base_link_to_pantalla"
    parent="base_link"
    child="pantalla_link"
    xyz="0 0 0"
    rpy="0 0 0"
    />
    <xacro:create_joint_fixed
    name="base_link_to_sensor_lidar"
    parent="base_link"
    child="sensor_lidar_link"
    xyz="-0.18 0 1.32"
    rpy="0 0 0"
    />

    <xacro:create_joint_fixed
    name="base_link_to_imu"
    parent="base_link"
    child="imu_link"
    xyz="0.0 0 1.25"
    rpy="0 0 0"
    />

    <!-- Joints continuos (ruedas) -->
    <xacro:create_joint_continuous 
    name="base_link_to_right_wheel_2"
    parent="base_link"
    child="right_wheel_1_link"
    xyz="-0.240 -0.263 0.023"
    rpy="0 0 0"
    axis="0 1 0"
    />
    <xacro:create_joint_continuous
    name="base_link_to_right_wheel_3"
    parent="base_link"
    child="right_wheel_2_link"
    xyz="0.240 0.263 0.023"
    rpy="0 0 3.14159"
    axis="0 -1 0"
    />
    <xacro:create_joint_continuous
    name="base_link_to_left_wheel_1"
    parent="base_link"
    child="left_wheel_1_link"
    xyz="0.240 -0.243 0.023"
    rpy="0 0 0"
    axis="0 1 0"
    />
    <xacro:create_joint_continuous
    name="base_link_to_left_wheel_4"
    parent="base_link"
    child="left_wheel_2_link"
    xyz="-0.240 0.243 0.023"
    rpy="0 0 3.14159"
    axis="0 -1 0"
    />

</robot>