<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="GazeboSystem" type="system">

        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            <plugin
                filename="gz-sim-sensors-system"
                name="gz::sim::systems::Sensors"
            />
        </hardware>

        

        <!-- ============================================== -->
        <!-- RIGHT FRONT WHEEL -->
        <!-- ============================================== -->

        <joint name="base_link_to_right_wheel_2">

            <command_interface name="velocity">
                <param name="min">-20</param>
                <param name="max">20</param>
            </command_interface>

            <state_interface name="position"/>
            <state_interface name="velocity"/>

        </joint>

        <!-- ============================================== -->
        <!-- RIGHT REAR WHEEL -->
        <!-- ============================================== -->

        <joint name="base_link_to_right_wheel_3">

            <command_interface name="velocity">
                <param name="min">-20</param>
                <param name="max">20</param>
            </command_interface>

            <state_interface name="position"/>
            <state_interface name="velocity"/>

        </joint>

        <!-- ============================================== -->
        <!-- LEFT FRONT WHEEL -->
        <!-- ============================================== -->

        <joint name="base_link_to_left_wheel_1">

            <command_interface name="velocity">
                <param name="min">-20</param>
                <param name="max">20</param>
            </command_interface>

            <state_interface name="position"/>
            <state_interface name="velocity"/>

        </joint>

        <!-- ============================================== -->
        <!-- LEFT REAR WHEEL -->
        <!-- ============================================== -->

        <joint name="base_link_to_left_wheel_4">

            <command_interface name="velocity">
                <param name="min">-20</param>
                <param name="max">20</param>
            </command_interface>

            <state_interface name="position"/>
            <state_interface name="velocity"/>

        </joint>

    </ros2_control>

</robot>