<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ===================================================== -->
    <!-- CONTROLLER ARGUMENT -->
    <!-- ===================================================== -->

    <xacro:arg
        name="controllers_file"
        default="$(find my_robot_description)/config/controllers.yaml"
    />

    <!-- ===================================================== -->
    <!-- GZ_ROS2_CONTROL -->
    <!-- ===================================================== -->

    <gazebo>
        <plugin
            filename="gz_ros2_control-system"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">

            <parameters>$(arg controllers_file)</parameters>

        </plugin>
    </gazebo>

    <gazebo reference="right_wheel_1_link">
        <mu1>1.0</mu1>
        <mu2>0.05</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="right_wheel_2_link">
        <mu1>1.0</mu1>
        <mu2>0.05</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="left_wheel_1_link">
        <mu1>1.0</mu1>
        <mu2>0.05</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="left_wheel_2_link">
        <mu1>1.0</mu1>
        <mu2>0.05</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="pantalla_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="altavoz_3_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="altavoz_3_2_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="matriz_de_microfono_resaker_12v_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="matriz_de_microfono_resaker_12v_1_link">
        <material>Gazebo/Grey</material>
    </gazebo>

</robot>