<?xml version="1.0" ?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:macro name="create_link" params="name name_link name_folder name_color rgba xyz rpy stl_path">
        <link name="${name_link}">
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="${stl_path}/${name_folder}/${name}.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="${name_color}">
                    <color rgba="${rgba}"/>
                </material>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="${stl_path}/${name_folder}/${name}.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="0.05"/>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
            </inertial>
        </link>
    </xacro:macro>

    <xacro:macro name="create_link_wheel" params="name name_link name_folder name_color rgba xyz_collition rpy stl_path">
        <link name="${name_link}">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${stl_path}/${name_folder}/${name}.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="${name_color}">
                    <color rgba="${rgba}"/>
                </material>
            </visual>
            <collision>
                <origin xyz="${xyz_collition}" rpy="${rpy}"/>
                <geometry>
                    <cylinder length="0.045674" radius="0.028885"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="0.5"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
            </inertial>
        </link>
    </xacro:macro>

    <xacro:macro name="create_joint_fixed" params="name parent child xyz rpy">
        <joint name="${name}" type="fixed">
            <parent link="${parent}"/>
            <child link="${child}"/>
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </joint>
    </xacro:macro>

    <xacro:macro name="create_joint_continuous" params="name parent child xyz rpy axis">
        <joint name="${name}" type="continuous">
            <parent link="${parent}"/>
            <child link="${child}"/>
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <axis xyz="${axis}"/>
            <limit effort="30" velocity="20"/>
        </joint>
    </xacro:macro>

</robot>