<?xml version="1.0" ?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="./macro.xacro"/>
    <xacro:include filename="./parameter.xacro"/>
    <xacro:include filename="./ros2_control.xacro"/>
    <xacro:include filename="./gazebo.xacro"/>

    <!-- link -->

    <!-- Base -->
    <xacro:create_link
        name="base_link"
        name_link="base_link"
        name_color="${name_color_base}"
        rgba="${rgba_base}"
        xyz="0 0 0"
        rpy="1.5708 0 0"
        name_folder="robot_body"
    />

    <!-- Engine -->
    <xacro:create_link
        name="12V_DC_motor"
        name_link="engine_1_link"
        name_color="${name_color_engine}"
        rgba="${rgba_engine}"
        xyz="0.240 -0.091 0.023"
        rpy="0 0 3.14159"
        name_folder="electronics"
    />

    <xacro:create_link
        name="12V_DC_motor"
        name_link="engine_2_link"
        name_color="${name_color_engine}"
        rgba="${rgba_engine}"
        xyz="-0.240 -0.091 0.023"
        rpy="0 0 3.14159"
        name_folder="electronics"
    />

    <xacro:create_link
        name="12V_DC_motor"
        name_link="engine_3_link"
        name_color="${name_color_engine}"
        rgba="${rgba_engine}"
        xyz="0.240 0.091 0.023"
        rpy="0 0 0"
        name_folder="electronics"
    />

    <xacro:create_link
        name="12V_DC_motor"
        name_link="engine_4_link"
        name_color="${name_color_engine}"
        rgba="${rgba_engine}"
        xyz="-0.240 0.091 0.023"
        rpy="0 0 0"
        name_folder="electronics"
    />

    <!-- Wheels -->
    <xacro:create_link_wheel
        name="right_wheel"
        name_link="right_wheel_1_link"
        name_color="${name_color_wheel}"
        rgba="${rgba_wheel}"
        rpy="0 0 0"
        name_folder="robot_body"
        xyz_collition="0 0.065 0"
    />
    <xacro:create_link_wheel
        name="right_wheel"
        name_link="right_wheel_2_link"
        name_color="${name_color_wheel}"
        rgba="${rgba_wheel}"
        rpy="0 0 3.14159"
        name_folder="robot_body"
        xyz_collition="0 0.07 0"
    />

    <xacro:create_link_wheel
        name="left_wheel"
        name_link="left_wheel_1_link"
        name_color="${name_color_wheel}"
        rgba="${rgba_wheel}"
        rpy="0 0 0"
        name_folder="robot_body"
        xyz_collition="0 0.05 0"
    />
    <xacro:create_link_wheel
        name="left_wheel"
        name_link="left_wheel_2_link"
        name_color="${name_color_wheel}"
        rgba="${rgba_wheel}"
        rpy="0 0 3.14159"
        name_folder="robot_body"
        xyz_collition="0 0.05 0"
    />


    <!-- Joints -->

    <!-- Base to Engine Joints -->
    <xacro:create_joint_fixed
        name="base_link_to_engine_1"
        parent="base_link"
        child="engine_1_link"
        xyz="0 0 0"
        rpy="0 0 0"
    />

    <xacro:create_joint_fixed
        name="base_link_to_engine_2"
        parent="base_link"
        child="engine_2_link"
        xyz="0 0 0"
        rpy="0 0 0"
    />

    <xacro:create_joint_fixed
        name="base_link_to_engine_3"
        parent="base_link"
        child="engine_3_link"
        xyz="0 0 0"
        rpy="0 0 0"
    />
    
    <xacro:create_joint_fixed
        name="base_link_to_engine_4"
        parent="base_link"
        child="engine_4_link"
        xyz="0 0 0"
        rpy="0 0 0"
    />

    <!-- Base to Wheel Joints -->
    <xacro:create_joint_continuous
        name="base_link_to_right_wheel_1"
        parent="engine_2_link"
        child="right_wheel_1_link"
        xyz="-0.240 -0.263 0.023"
        rpy="0 0 0"
        axis="0 1 0"
    />

    <xacro:create_joint_continuous
        name="base_link_to_right_wheel_2"
        parent="engine_3_link"
        child="right_wheel_2_link"
        xyz="0.240 0.263 0.023"
        rpy="0 0 3.14159"
        axis="0 1 0"
    />

    <xacro:create_joint_continuous
        name="base_link_to_left_wheel_3"
        parent="engine_1_link"
        child="left_wheel_1_link"
        xyz="0.240 -0.243 0.023"
        rpy="0 0 0"
        axis="0 1 0"
    />

    <xacro:create_joint_continuous
        name="base_link_to_left_wheel_4"
        parent="engine_4_link"
        child="left_wheel_2_link"
        xyz="-0.240 0.243 0.023"
        rpy="0 0 3.14159"
        axis="0 1 0"
    />

    <!-- Gazebo Plugin -->
    <gazebo>
        <plugin
            name="gazebo_ros2_control"
            filename="libgazebo_ros2_control.so">
        </plugin>
    </gazebo>

</robot>